#map {
    height: 700px;
    width: 100%;
    display: inline-block;
    }
    
.sequence-control-container {  
    width: 500px;  
    height: 30px;  
    background-color: rgba(209, 154, 234, 0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}

.title-container {  
    width: 500px;  
    height: 30px;  
    background-color: rgba(209, 154, 234, 0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
} 

.legend-control-container {
    display: table-cell;
    width: 250px;  
    height: 130px;  
    background-color: rgba(239, 231, 243, 0.8);  
    padding: 5px;    
    text-align: center;  
    vertical-align: middle;
    border: solid gray 1px;  
} 

.leaflet-popup-content p {
    margin: 0.2em 0;
    background-color:#e6d5f5;
}

.range-slider {  
    width: 60%;  
}  

.step {  
    width: 10%;  
    height: 90%
}  

.step img {  
    width: 45%;  
}  

#forward {  
    float: right;
}  

#reverse {  
    float: left;
}


#title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 10%;
    vertical-align: middle ;
    border: 5px solid;
    background-color: rgba(209, 154, 234, 0.8);
    text-align: center;
  }